<meta charset="UTF-8">
<table style="border-collapse: collapse;table-layout: auto;" border="1" cellspacing="0" cellpadding="5"
       bgcolor="#f5f5f5">
    <thead>
    <tr style="font-size: xx-small;font-weight: bold;vertical-align: middle;text-align: center">
        <th>ДАТА:1С</th>
        <th>ДАТА:PG</th>
        <th>ДАТА:Err</th>
        <th>ПРИХОД</th>
        <th>ЗАКАЗ</th>
        <th>АПТЕКА</th>
        <th>СТАТУС</th>
        <th>ОПИСАНИЕ</th>
        <th>ПАКЕТ</th>
    </tr>
    </thead>
    <tbody>
    {% for doc in docs %}
        <tr>
            {% set d_doc = Carbon[0].timestamp(doc.d_doc) %}
            {% set enqueue = Carbon[1].timestamp(doc.enqueue) %}
            {% set data = Carbon[2].timestamp(doc.data) %}
            <td style="font-size: x-small;text-align:center" nowrap="true">
                {% if doc.d_doc %}
                    {{ d_doc.toFormattedDateString() }}<br>
                    <span style="font-weight: bolder">
                        {{ d_doc.diffForHumans() }}<br>
                        {% if d_doc.diffInHours()>24 %}
                            ( {{ d_doc.diffInHours() }} час. )
                        {% else %}
                            ( {{ d_doc.toTimeString() }} )
                        {% endif %}
                    </span>
                {% endif %}
            </td>

            <td style="font-size: x-small;text-align:center" nowrap="true">
                {% if doc.enqueue %}
                    {% if d_doc.ne(enqueue) %}
                        {{ enqueue.toFormattedDateString() }}<br>
                        <span style="font-weight: bolder">
                            {{ enqueue.diffForHumans() }}<br>
                            {% if enqueue.diffInHours()>24 %}
                                ( {{ enqueue.diffInHours() }} час. )
                            {% else %}
                                ( {{ enqueue.toTimeString() }} )
                            {% endif %}
                        </span>
                    {% endif %}
                {% endif %}
            </td>

            <td style="font-size: x-small;text-align:center" nowrap="true">
                {% if doc.data %}
                    {% if enqueue.ne(data) %}
                        {{ data.toFormattedDateString() }}<br>
                        <span style="font-weight: bolder">
                            {{ data.diffForHumans() }}<br>
                            {% if data.diffInHours()>24 %}
                                ( {{ data.diffInHours() }} час. )
                            {% else %}
                                ( {{ data.toTimeString() }} )
                            {% endif %}
                        </span>
                    {% endif %}
                {% endif %}
            </td>

            <td style="font-size: small; text-align: center;font-weight: bold" nowrap="true">{{ doc.ndoc }}</td>
            <td style="font-size: small; text-align: center;font-weight: bold" nowrap="true">{{ doc.n_intzak }}</td>
            <td style="font-size: small; text-align: center;font-weight:bold;
            {%if doc.inactive%}color:darkred;
            {%elseif not    doc.active and not doc.closed%}color:darkorange;
            {%elseif not    doc.active and     doc.closed%}color:darkgrey;
            {%elseif        doc.active and not doc.closed%}color:darkgreen;
            {% else %}color:red;
            {% endif %}
                    " nowrap="true">{{ doc.n_apt }}</td>
            <td style="font-size:xx-small;text-align:center;color:3C3F41" nowrap="true">
                {% if doc.tname == 'out' %}
                    <span>В ОЧЕРЕДИ</span>
                {% elseif doc.tname == 'archive' %}
                    <span>ОБРАБОТАН</span>
                {% elseif doc.tname == 'error' %}
                    <span style="color:red;font-size:x-small">ОШИБКА</span>
                {% elseif doc.tname == 'sent' %}
                    <span>ОТПРАВЛЕН</span>
                {% endif %}
            </td>
            <td style="font-size: x-small">
                {% if doc.npack==null %}Пакет не найден, видимо пакет был удален в ручную после попадания в ошибки{% endif %}
                {{ doc.msg|convert_encoding('UTF-8','windows-1251') }}
            </td>
            <td style="font-size: xx-small; text-align: center" nowrap="true">{{ doc.npack }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br><br><br>
<hr>
<ul style="text-align: left; font-size: x-small;"><h2>Описание статусов документов:</h2>
    <li><b>в очереди</b> - пакет поставлен в очередь на доставку в аптеку, если аптека его долго не забирает, значит там
        нет интернета
    </li>
    <li><b>обработан</b> - документ обработан аптекой, но статус в 1С не проставлен, документ не дошел до 1С</li>
    <li><b>ошибка</b> - пакет не дойдет до аптеки, не может пройти проверки, содержит ошибки</li>
    <li><b>отравлен</b> - пакет отправлен на аптеку, но ответ не приходит, возможно проблема связи</li>
</ul>
<ul style="text-align: left; font-size: x-small;"><h2>Описание полей таблицы:</h2>
    <li><b>дата:1C</b> - дата документа в 1С</li>
    <li><b>дата:PG</b> - дата выгрузки документа на аптеку, момент содания записи в очереди исходящих сообщений</li>
    <li><b>дата:Err</b> - дата наступления события, это не дата документа в 1С, именно событие в транспорте пакета на
        аптеку
    </li>
    <li><b>приход</b> - номер документа 1С склад, поступление товара (учет в закупке)</li>
    <li><b>заказ</b> - номер интернет-заказа</li>
    <li><b>аптека</b> - код аптеки в 1С склад, не номер аптеки, а именно код 1С,
        если номер <span style="color: darkgreen;font-weight: bold;font-variant:all-small-caps;">зеленый</span> - аптека активирована, не закрыта, нет проблем связи;
        если номер <span style="color: darkred;font-weight: bold;font-variant:all-small-caps;">красный</span> - на аптеке проблемы связи;
        если номер <span style="color: darkgrey;font-weight: bold;font-variant:all-small-caps;">серый</span> - аптека помечена как закрытая;
        если номер <span style="color: darkorange;font-weight: bold;font-variant:all-small-caps;">оранжевый</span> - аптека помечена как неактивна.
    </li>
    <li><b>статус</b> - состояние транспортировки пакета</li>
    <li><b>описание</b> - поле содержит описание ошибки транспортной системы, а также коментарий к ошибке, составленный
        данным роботом
    </li>
    <li><b>пакет</b> - номер пакета в транспортной базе</li>
</ul>
<ul><h2>Алгоритм работы монитора</h2>
    <li>Из 1С склад выбираются документы поступление товара (учет в закупке) с применением фильтра:<br>
        не помеченные на удаление, тип накладной - интернет-заказ, статус офиса - выгружен на аптеку, статус аптеки -
        неопределено или пустое значение, возраст документа - более 1 часа
    </li>
    <li>Далее в транспортной базе данных разыскивается последний пакет отправленный на аптеку при выгрузке документа из
        1С склад
    </li>
    <li>Производиться анализ ошибки, составляется коментарий</li>
    Следует помнить что алгоритм специально не учитывает иные условия такие как пометка удаления документа или аптеки,
    отключение обмена с аптекой в 1С и др.
</ul>
<h2>Для проверки документов по журналу 1С склад требуется настроить фильтр согласно изображению ниже</h2>
<img alt="Изображение отсутствует" src="cid:filter-internet-orders-img" src>